body {font-family: 'Roboto 500', sans-serif;
 color: #2E2F42;;}



.logo {
color:#2E2F42;
}
.nav :hover { 
color:#4D5AE5 
}

.nav :active{
color:#4D5AE5;
}

.nav :focus{
color:#4D5AE5;  
}
.nav-link-li {
color:#2E2F42;
}
.nav-link-item :hover { 
    color:#4D5AE5 ;
}
.nav-link-item :active{
    color: #4D5AE5;
}
.nav-link-item :focus{
    color: #4D5AE5;
}

.address{
}

.mail {font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}
.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail cursor{ align-self: start;}
.mail-li :hover{
    color: #4D5AE5;
}
.mail-li :focus{
    color: #4D5AE5;
}
.mail-li :active{
    color: #4D5AE5;
}

.tel{color: #434455;
}
.tel cursor{ align-self: start;}
.tel-li :hover{
    color: #4D5AE5;
}
.tel :focus{
    color: #4D5AE5;
}
.tel :active{
    color: #4D5AE5;}


 .hero{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
}
.hero :hover {  color: #4D5AE5; }
.hero :active{ color: #4D5AE5;}
.hero :focus{ color: #4D5AE5;}

.hero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
  }
.hero-list-item{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;}
.hero-list-item :hover{background: #4D5AE5; color: #ffffff;}
.hero-list-item :focus{background: #4D5AE5; color: #ffffff;}
.hero-list-item :active{background: #4D5AE5; color: #ffffff;}



.gallery{

}

.gallery-title{
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;



}
.gallery-subtitle{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455 ;
}











