body {font-family: 'Roboto 500', sans-serif;
 }



.logo {
color:#2E2F42;
}
.nav :hover { 
color:#4D5AE5 
}

.nav :active{
color:#4D5AE5;
}

.nav :focus{
color:#4D5AE5;  
}
.nav-link-li {
color:#2E2F42;
}
.nav-link-item :hover { 
    color:#4D5AE5 ;
}
.nav-link-item :active{
    color: #4D5AE5;
}
.nav-link-item :focus{
    color: #4D5AE5;
}

.address{
}

.mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.33;
    letter-spacing: 0.02em;
    color: #434455;}
.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.33;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail cursor{ align-self: start;}
.mail-li :hover{
    color: #4D5AE5;
}
.mail-li :focus{
    color: #4D5AE5;
}
.mail-li :active{
    color: #4D5AE5;
   
}


.tel{cursor: pointer;} 
.tel-li :hover{
    color: #4D5AE5;
}
.tel :focus{
    color: #4D5AE5;
}
.tel :active{
    color: #4D5AE5;}


 .hero{
    font-size: 16px;
    line-height: 1.5; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
  }
.hero :hover {  color: #4D5AE5; }
.hero :active{ color: #4D5AE5;}
.hero :focus{ color: #4D5AE5;}


.hero-list-item{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;}


.hero-list-item :hover{background: #4D5AE5; color: #ffffff;}
.hero-list-item :focus{background: #4D5AE5; color: #ffffff;}
.hero-list-item :active{background: #4D5AE5; color: #ffffff;}

.button{ cursor: pointer;}

.gallery{

}

.gallery-title{
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.gallery-subtitle{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455 ;
}

.footer{
    background-color: #2E2F42;
    color:#ffffff;}

    .logo-footer{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height:  1.166 ;
letter-spacing: 0.03em;
color: #F4F4FD;

}
    .footer-title{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}



