body {font-family: 'Roboto 500', sans-serif;
 color: #2E2F42;;}

font-family: 'Raleway', sans-serif;




color 
iris #4D5AE5;

ocean #404BBF;

NAVY BLUE #2E2F42;

GREEN #31D0AA


SLATE #434455

LIGHT SLATE #8E8F99

CORNFLOWER
#E7E9FC;

CLOUD
#F4F4FD

NAVY BLUE modal
#2E2F42
40 %

GREY
#2E2F42
70 %

.logo {
color:#2E2F42;
}
.logo :hover { 
    color:#4D5AE5 
}

.logo :active{
color: #4D5AE5;
}

.logo :focus{
  color: #4D5AE5;  
}
.nav-link {
color:#2E2F42;
}
.nav-link :hover { 
    color:#4D5AE5 ;
}
.nav-link :active{
    color: #4D5AE5;
}
.nav-link :focus{
    color: #4D5AE5;
}


